version "EAITranslator" 1.0.0 "EAITranslator"
EAITranslator {
	OutputDirectory = ""
	CommonPartsPath = ""
	chordalOption = "RELATIVE"
	structureOption = "MONOLITHIC"
	writeWhichFiles = "ALL"
	pmiOption = "PART_AND_ASM"
	JtFileFormat = "9"
	triStripOpt = true
	seamSewing = false
	seamSewingTol = 0.001
	includeBrep = false
	autoNameSanitize = false
	updateChangedPartsOnly = false
	verboseReporting = false
	writeAsciiAssembly = false
	singlePartsNoAssem = false
	autoLowLODgeneration = true
	smartLODgeneration = false
	numLODs = 2
}
Filter {
}
Metadata {
}
LOD "1" {
	Level = 1
	Chordal = 0.0035
	Angular = 28
	Length = 0
	AdvCompressionLevel = 0
}
LOD "2" {
	Level = 2
	Chordal = 0.01
	Angular = 0
	Length = 0
	FeatureSuppression = 0
	Simplify = 0.4
	AdvCompressionLevel = 1
}

ugConfig {
        doWireframe = false
        mergeSheets = false
        mergeSolids = false
        checkLayers = false
        XTbrep = true
        appendRefSetName = false
        getAttributes = false
        representAttributesAs = "DEFAULT"
        getNXBodyNames = false
        appendItemName = true
        appendRevision = true
        excludeViaRefSet = false
        usePreferredRefSets = false
        spotWeldSize = 1
        activateCsysPMI = true
        activateDimPMI = true
        activateGDTPMI = true
        activateNotePMI = true
        activateSymbolPMI = true
        activateSupplementalGeomPMI = true
        activateWeldPMI = false
        activateWeldLabels = false
        activateMpawPMI = false
        applyPMIRefset = false
        configureLeafNodeName = false
        configureFileName = false
        includeInvisible = false
        LogReporting = "ERROR,WARNING,INFO"
        ConsoleReporting = "ERROR"
        LogFileName = "UG_PART"
        useRefsets = "DEFAULT"
        getCADProperties = "CAD_DENSITY,CAD_MATERIAL,CAD_MASS"
        advancedMaterials = false
        doSectionViews = false
        activateFilters = "LAYER"
}
